.home {
  text-align: center;
  padding: 50px 20px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.cta-button {
  background-color: darkgray;
  border: none;
  color: #000;
  font-size: 18px;
  padding: 12px 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: gray;
}

.features {
  margin-top: 50px;
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.features h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.features ul {
  list-style: disc;
  padding-left: 20px;
  font-size: 1.1em;
  justify-items: center;
}
