.msa-tab {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* centers everything horizontally */
}
.msa-tab h2 {
  color: #1A2238;
}
.input-container {
  width: 100%;
  max-width: 500px; /* keeps things from stretching too much */
}

.radio-row {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.radio-row label {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  color: #1A2238;
}


.input-row {
  display: flex;
  gap: 1rem;
  justify-content: center; /* center dropdown + input */
  flex-wrap: wrap; /* responsive */
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.input-group select,
.input-group input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.button-row button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #0D4F65;
  color: white;
  cursor: pointer;
}

.button-row button:hover {
  background-color: #116f8f;
}

/* Optional: for displaying MSA results later */
.msa-result {
  width: 100%;
  max-width: 500px;
  margin-top: 1.5rem;
}

.msa-result pre {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 4px;
  border-color: #007c91;
  color: #1A2238;
  max-height: 300px;
  overflow-y: auto;
}

.msa-result h3{
  color: #1A2238;
}
.download-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.download-container button {
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #0D4F65;
  color: white;
  cursor: pointer;
}

.download-container button:hover {
  background-color: #116f8f;
}
