.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: #f0f9ff;
   position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left img.logo {
  height: 35px; /* keep original height */
  transform: scale(3.5); /* makes it visually bigger */
  transform-origin: left center; /* optional: anchor from left */
}

.navbar-right a {
  color: #1A2238;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

.navbar-right a:hover {
  text-decoration: underline;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
